<p>
    @if (ViewBag.IsIdentityActivated)
    {
        <h3>Activation successful</h3>

        if (ViewBag.Info != null)
        {
        <p>
            <br />
            <strong>Identity:</strong> @ViewBag.Info.Id <br />
            <strong>Device name:</strong> @ViewBag.Info.DeviceName
        </p>
    }
    <br />
    <text>You can now close this window.</text>
    <br />
}
else
{
    <h3>ACTIVATION FAILED</h3>

    <text>There was a problem with activating your account. <br />
        Press 'Resend email' from your MIRACL Trust® client app to try again.<br /></text>
}

    If you have any issues please contact our support.
    </p>
