@{
    ViewBag.Title = "Pull";
}

<h2>Verify page</h2>

@if (!ViewBag.ActivationStarted)
{
    if (ViewBag.Id != null)
    {
        <p>
            Activation with <strong>@ViewBag.Id</strong> has not started or has expired.
        </p>
    }


    using (Html.BeginForm())
    {
        <p>
            <br />
            <text> Enter the identity you've started the registration with:</text><br /><br />
            <input id="id" type="email" name="id" /><br /><br />
            <input type="submit" value="Check" /><br />
        </p>
    }
}
else
{
    <p>
        Click the button below to start using <strong>@ViewBag.Info.Id</strong> as your MIRACL Trust<sup>®</sup> identity on device <strong>@ViewBag.Info.DeviceName</strong>
    </p>
    using (Html.BeginForm("Activate", "pull"))
    {
        <input type="hidden" name="id" value="@ViewBag.Info.Id" />
        <input type="submit" value="CONFIRM AND ACTIVATE" class="btn btn-primary" />
    }
}