@{
    ViewBag.Title = "Custom email registration activation";
}

<p>
    <h2>Please confirm your activation</h2>
<p>
    Click the button below to start using <strong>@ViewBag.Info.Id</strong> as your MIRACL Trust<sup>®</sup> identity on device <strong>@ViewBag.Info.DeviceName</strong>
</p>

@using (Html.BeginForm())
{
    @Html.ActionLink("CONFIRM AND ACTIVATE", "Activate", "CustomEmail", null, new { @class = "btn btn-primary" })
}
<br />
    If you have any issues please contact our support.
</p>
