@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>.Net Web Example</h1>
    <h2>Login Page</h2>
</div>
<div class="row">
    <div class="col-md-8">

        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("Logout", "Home"))
            {
                <button type="submit" name="Logout" class="btn btn-default">Logout</button>
            }
        }
        else
        {
            using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-inline" }))
            {
                <div class="inner cover">
                    <input type="email" id="email" name="email" placeholder="Email Address (Preroll Id)" class="form-control" />
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            }
        }


        <br />
        <br />
        <br />


        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-10">
                <h3>Identity</h3>
                <p>
                    <dl>
                        @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                        {
                            <dt>@claim.Type</dt>
                            <dd>@claim.Value</dd>
                        }
                    </dl>
                </p>
            </div>
        }

    </div>

</div>
